@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,latin-ext);

body {
	font-family: 'Open Sans', Arial, Verdana, sans-serif;
	background-color: #D3F4FF;
	color: white;
	font-size: 0.85em;
	letter-spacing: .4px;
}
a, a:hover, a:active, a:visited {
	text-decoration: none;
	color: #fafafa;
}
p {
	margin-right: 50px;
}
span {
	font-size: 0.75em;
}
h4 {
	margin-bottom: -15px;
}
/* navigatie */
nav#hoofdnavigatie {
	position: fixed;
	z-index: 9999;
	width: 100%;
	text-align: center;
	background-color: rgba(3, 85, 109, 0.75);
}
nav#hoofdnavigatie ul {
	list-style: none;
	margin-right: 10px;
}
nav#hoofdnavigatie ul li {
	display: inline-block;
	margin-left: -5px;
}
nav#hoofdnavigatie ul li a {
	display: block;
	padding: 15px;
}
ul#menu li a.active{
	background-color: white;
	color: rgb(3, 85, 109);
}


/* sections */
section#info, section#doelgroep, section#leerstof, section#mogelijkheden, section#webontwikkelaar {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
section#info {
	background-color: #7F7E7B;
	background-image: url(../img/laptop.jpg);
	padding: 15px;
}
section#doelgroep {
	background-color: #AD4A4A;
	background-image: url(../img/techno.jpg);
	padding: 15px;
}
section#leerstof {
	background-color: #FFA7A7;
	background-image: url(../img/mobile.jpg);
	padding: 15px;
}
section#mogelijkheden {
	background-color: #8C9338;
	background-image: url(../img/leren.jpg);
	padding: 15px;
}
section#webontwikkelaar {
	background-image: url(../img/vakken.jpg);	
	padding: 15px;
}
img.logo {
	max-height: 100px;
}
nav#vakken {
	width: 69%;
	text-align: center;
	margin: 0 auto;
}
nav#vakken ul {
	list-style: none;
	padding: 0;
	background-color: rgb(3, 85, 109);
}
nav#vakken ul li {
	display: inline-block;
}
nav#vakken ul li a {
	display: block;
	padding: 15px;
}
nav#vakken ul li a.active {
	background-color: white;
	color: rgb(3, 85, 109);
}
.container {
	width: 90%;
	margin: 0 auto;
	padding: 10px 20px;
	background-color: rgba(3, 85, 109, 0.75);
}
.kolommen {
	width: 45%;
	float: left;
}
.clearfix {
	clear: both;
}
.kleur{
	margin-left: 50px;
}
#svg path{
	stroke: #FFF !important;
	stroke-width: 5px !important;
}
img#loader {
	display: block;
	margin: 0 auto;
}
#popup input[type="submit"]{
	background-color: rgba(3, 85, 109, 0.75);
	color: white;
	border: none;
}
#remodal {
	display: none;
	position:absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: 500px;
	height: 300px;
}

.tooltip{
    margin: 8px;
    padding: 8px;
    background-color: rgba(3, 85, 109, 0.75);
    color: white;
    position: absolute;
    z-index: 2;
}