<img src="img/drupal.png" alt="drupal" class="logo">
<h4>Algemene informatie</h4>
<p>Drupal is een erg solide en wereldwijd gebruikt CMS. Hoewel het gratis systeem door een Vlaming werd ontwikkeld, wordt het door kleppers als VTM, Intel, StuBru, Telenet en het Witte Huis gebruikt. Het systeem is dermate performant en kneedbaar, dat we er twee modules aan besteden. Daarnaast leren we ook kort met concurrenten WordPress en Joomla werken.</p>
<h4>Concreet</h4>
<ul>
	<li>Drupal installeren en juist configureren</li>
	<li>Inhoud toevoegen en opmaken</li>
	<li>Toegangsrechten en gebruikers maken en instellen</li>
	<li>Eigenbreide templates instellen</li>
	<li>SEO en usability m.b.t. Drupalsites</li>
	<li>Een Drupalsite publiceren op internet</li>
</ul>
<h4>Na de cursus kan je</h4>
<p>Een performante, attractieve, zoekvriendelijke, gebruiksvriendelijke en responsieve CMS website bouwen, volledig naar wens van een klant.</p>
<h4>Voorkennis</h4>
<p>Een goede basiskennis van het gebruik van een computer is nodig o.a. beheer van mappen en bestanden en het gebruik van internet. Kennis over programmeren is een pluspunt, maar is niet verplicht.</p>
<h4>Aantal lesuren</h4>
<p>120(ontwikkelaar) 180(e-commerce)</p>