<h3>Eindwerk</h3>
<h4>Algemene informatie</h4>
<p>Het eindwerk vormt het sluitstuk van je Heusdenlijk-Zolderse opleiding. De vakleerkrachten gaan keer op keer naar een echte klant met echte behoeften op zoek. Deze lui lichten in een briefing hun wensen en breekpunten toe, waarna je meteen aan de slag kan. Er is veelal ruimte voor eigen inbreng en in het gros van de gevallen kiest de opdrachtgever de uitverkorene die het project mag opleveren. Als dat geen vliegende start voor je webcarrière is...</p>

<p>Traditiegetrouw gaan we steeds met een vzw in zee. In het verleden leverden we reeds knappe stekken voor CC MUZE, C-mine Cultuurcentrum, Stebo,… op.</p>