<img src="img/frameworks.png" alt="frameworks" class="logo">
<h4>Algemene informatie</h4>
<p>Je hoeft niet telkens het wiel opnieuw uit te vinden. Als je een project begint moet je ook niet telkens vanaf nul beginnen. In deze cursus maken we gebruik van frameworks om enkele grootschalige projecten uit te bouwen.</p>
<h4>Concreet</h4>
<p>We leren de back-end van een site coderen en beheersen met Laravel, een modern PHP framework. We schrijven met simpele codes een hele boel gevarieerde projecten. In deze projecten leren we telkens een nieuwe kant van Laravel. In de projecten maken we ook vaak gebruik van enkele CSS Frameworks zoals Bootstrap. Deze komen niet uitgebreid aan bod maar je leert ze wel integreren in de sites. Uiteindelijk maken we nog enkele combinaties van Laravel met Angular, een front-end JavaScript framework.</p>
<h4>Na de cursus kan je</h4>
<ul>
	<li>Een virtuele server installeren</li>
	<li>Sites beheren met de command line</li>
	<li>Een dynamische applicatie programmeren met Laravel</li>
	<li>Code opzoeken in de documentatie van een framework</li>
	<li>Een front-end framework integreren</li>
	<li>Samenwerken aan een groter project</li>
</ul>
<h4>Voorkennis</h4>
<p>Een goede kennis van PHP en HTML, alsook werken met de command line.</p>
<h4>Aantal lesuren</h4>
<p>60(enkel ontwikkelaar)</p>