<img src="img/html.png" alt="html" class="logo">
<h4>Algemene informatie</h4>
<p>HTML is de bron van webdesign. In deze module leren we de basisbeginselen van webdesign. We leren webpagina's maken met tekstopmaak, figuren, hyperlinken, tabellen, divs en multimedia. De nadruk ligt op het leren van de code. Verder leren we ook met CSS werken. De nieuwste trends komen aan bod. Zo leren we ook werken met HTML5 en CSS3.</p>
<p>We leren een website publiceren, zoekvriendelijk maken en een link naar sociale media leggen.</p>
<h4>Na de cursus kan je</h4>
<p>Een website bouwen en publiceren volgens de HTML5 standaarden.</p>
<h4>Concreet</h4>
<ul>
	<li>de basis van webdesign: W3, diversiteit browsers, HTML validatie, enz</li>
	<li>de scheiding van HTML en CSS</li>
	<li>tekstopmaak</li>
	<li>figuren, hyperlink en tabellen</li>
	<li>divs</li>
	<li>multimedia (audio en video)</li>
	<li>wat is nieuw, gewijzigd en verwijderd in HTML5?</li>
</ul>
<h4>Voorkennis</h4>
<p>Een goede basiskennis van het gebruik van een computer is nodig o.a. beheer van mappen en bestanden en het gebruik van internet. Kennis over programmeren is een pluspunt, maar is niet verplicht.</p>
<h4>Aantal lesuren</h4>
<p>60</p>