<img src="img/jQuery.gif" alt="jQuery" class="logo">
<h4>Algemene informatie</h4>
<p>jQuery is een rijke, snelle en elegante uitbreiding op JavaScript. Het is opensource: er zijn een uitgebreide documentatie en een zeer actieve community voorzien. Daardoor wordt er heel regelmatig een update uitgebracht en verschijnen er constant nieuwe plugins. Het gemak, waarmee je kunt programmeren t.o.v. gewone JavaScript is verbazend. Een lichtgewicht qua KB, uitstekende performantie en zeer uitgebreide ingebouwde voorzieningen laten de huidige webdesigners kiezen voor deze tool. jQuery is een verzameling van functies, die de oorspronkelijke JavaScriptfuncties uitbreiden. Je hebt complete controle over de DOM (Document Object Model), m.a.w. de elementen in je HTML- pagina. jQuery ondersteunt alle populaire en minder populaire browsers, ja zelfs IE6 ;) Websites, die gebruik maken van jQuery : Google, Amazon, IBM, Microsoft, Twitter, Dell, NBC, Wordpress, Drupal, Mozilla, Opera,...jQuery can do that "Like a boss"!</p>
<h4>Na de cursus kan je</h4>
<p>Eenvoudige tot geavanceerde code begrijpen en schrijven. Plugins opsporen, testen en integreren.</p>
<h4>Concreet</h4>
<ul>
	<li>basistechnieken jQuery: implementatie script</li>
	<li>selectors: selecteren van elementen op de pagina</li>
	<li>events: gebeurtenissen opsporen en afhandelen, bv. een muisklik, pagina inladen,...</li>
	<li>effects: fade, slide, toggle, animate,...</li>
	<li>jQuery animatieJSON en AJAX: externe data inlezen en wegschrijven, zonder een pagina refresh te doen.</li>
	<li>Parallax effecten toevoegen</li>
</ul>
<h4>Voorkennis</h4>
<p>Vlot met een computer kunnen werken, HTML, logisch kunnen denken, een basis programmeertechnieken is een pluspunt, maar niet verplicht.</p>
<h4>Aantal lesuren</h4>
<p>30(e-commerce) 60(ontwikkelaar)</p>