<img src="img/magento.png" alt="magento" class="logo">
<h4>Algemene informatie</h4>
<p>Magento is een open-source e-commerce platform dat het mogelijk maakt om webwinkels te maken tegen een fractie van de tijd (en ook prijs) ten opzichte van een ontwikkelen van een soortgelijke applicatie/website. Bovendien is een Magento-webwinkel voor iedereen haalbaar, er is geen programmeerkennis vereist om een webwinkel in Magento te maken.</p>
<h4>Concreet</h4>
<p>In onze lessen gaan we eerst in op de installatie en de standaard mogelijkheden van het pakket. We leren ondermeer producten toevoegen aan de webwinkel en eigenschappen (zoals afbeeldingen, specificaties,...) aan deze producten toe te kennen. Om de producten zo overzichtelijk mogelijk te presenteren aan de bezoekers van de webwinkel, werken we met categorieën.</p>
<p>Ten slotte moeten de producten ook kunnen gekocht worden. Een webwinkel moet immers geld opbrengen. We nemen een kijkje naar verschillende betalingsmethoden en leveringsmethoden. Ook belonen we trouwe klanten met kortingen op hun aankopen, mooie aanbiedingen en pakketten.</p>
<p>Ook het vormgeven van een Magento-project komt aan bod.</p>
<p>Nadat we de basis van onze webwinkel hebben uitgewerkt, is het tijd om de winkelervaring van de gebruikers onder de loep te nemen. Een goede webwinkel onderscheidt zich van de middenmoot door actief gebruik te maken van de trends in E-commerceland. Productreviews, producttagging, koppeling met sociale media, ... komen allemaal aan bod. Bovendien zorgen we ervoor dat de webwinkel SEO vriendelijk (zoekmachine-optimalisatie) is en nemen we een kijkje naar de wetgeving rond een webwinkel.</p>
<h4>Voorkennis</h4>
<p>Hoewel een HTML/CSS voorkennis niet noodzakelijk is (hier wordt in de lessen aandacht aan besteed), zullen ook mensen uit andere circuits (Drupal,...) aan hun trekken komen tijdens deze lessen.</p>
<h4>Aantal lesuren</h4>
<p>120(enkel e-commerce)</p>