<img src="img/ps.jpg" alt="photoshop" class="logo">
<h4>Algemene informatie</h4>
<p>De pixel- en vectorgeoriënteerde tekengereedschappen van Adobe Photoshop worden voortdurend krachtiger. In een eerste moduledeel leer je deze dingen te temmen om zo tot aantrekkelijke weblay-outs te komen. De fotografische beeldbewerkingsmogelijkheden komen in een tweede vakdeel aan bod. Zo zit je al vlug met een degelijke basis waarmee je al enkele stijlen de baas bent.</p>
<h4>Na de cursus kan je</h4>
<p>Weblay-outs ontwerpen met oog voor detail, afwerking, schaalbaarheid en de laatste trends. Je kan vlot overweg met de vele tekengereedschappen, opties en paletjes. De sneltoetsen heb je ergens laten tatoeëren. Je leert designstijlen te identificeren, inspiratiebronnen te hanteren je designprocessen te documenteren.</p>
<h4>Concreet</h4>
<p>Volgende onderwerpen komen aan bod:</p>
<ul>
	<li>Laaggestructureerde beelden bewerken - de ruggengraat van elk zichzelf respecterend tekenprogramma.</li>
	<li>Werken met pixels en vectoren - elke soort heeft zo z'n eigen voor- en nadelen.</li>
	<li>Objecten verplaatsen en transformeren - soms doet grootte er wèl toe. Ritme en voorspelbaarheid is belangrijk.</li>
	<li>Geometrische vormen tekenen - we starten met eenvoudige rechthoeken, cirkels en lijnen. De vectorhulpjes laten je echter toe alles naar wens in te stellen.</li>
	<li>Tekst opmaken - je webontwerp zal natuurlijk ook tekst bevatten.</li>
	<li>Illustraties met effecten verrijken - nette afwerkingseffectjes met slechts enkele muisklikjes.</li>
	<li>Webpagina's ontwerpen - combineer alle technieken in je eerste, echte webontwerp.</li>
	<li>Ontwerpelementen voor het web opslaan - op het web laden je prentjes best zo snel mogelijk in. Leer hoe je dat voor mekaar krijgt!</li>
	<li>HTML-structuur opzetten - hand- en bandwerk, met oog voor zoekmachineoptimalisatie.</li>
	<li>CSS-opmaak toepassen - hou je HTML-code lekker eenvoudig en maak je CSS-instructies lekker slim.</li>
</ul>
<h4>Aantal lesuren</h4>
<p>90</p>