<img src="img/php.png" alt="php" class="logo">
<h4>Algemene informatie</h4>
<p>PHP is de scripttaal waarop heel wat websites en webappliciaties ontwikkeld worden.</p>
<p>Samen met MySQL worden databasegestuurde webpagina's ontwikkeld zodanig dat de actualisatie en het onderhoud van websites sterk vereenvoudigd worden.</p>
<h4>Na de cursus kan je</h4>
<ul>
	<li>PHP-scripts schrijven die je koppelt aan een MySQL-database</li>
	<li>Toepassingen ontwikkelen om automatisch gegevens te wijzigen in een database</li>
</ul>
<h4>Concreet voor MySQL</h4>
<ul>
	<li>Ontwerpen van relationele databanken</li>
	<li>Uitvoeren van SQL-opdrachten= toevoegen, aanpassen, verwijderen en lezen van gegevens</li>

</ul>
<h4>Concreet voor PHP</h4>
<ul>
	<li>De syntaxis van de scripttaal</li>
	<li>Verbinding maken met een database</li>
	<li>Concrete projecten: generic webdesign, weblog, forum</li>
	<li>Verder ook nog: grafieken maken, captcha toepassen, pdf-bestanden maken</li>
</ul>
<h4>Voorkennis</h4>
<p>Een goede basiskennis van het gebruik van een computer is nodig o.a. beheer van mappen en bestanden en het gebruik van internet. Kennis over programmeren is een pluspunt, maar is niet verplicht.</p>
<h4>Aantal lesuren</h4>
<p>120(ontwikkelaar) 180(e-commerce)</p>