<h3>Sollicitatietraining</h3>
<h4>Algemene informatie</h4>
<p>De laatste horde naar een job is een sollicitatie. Onze opleiding speelt ook daarop in. Tijdens de module sollicitatietraining leer je je cv en motivatiebrief op die manier opbouwen dat je kansen op een job zienderogen vergroten. Je leert jouw cv en motivatiebrief op een originele manier opstellen. Weg met de typische openingszinnen en welkom aan de originele openingszin, die zorgt dat jouw motivatiebrief boven aan de stapel motivatiebrieven belandt.</p>
<p>Uit onderzoek blijkt bovendien dat lichaamstaal en persoonlijkheidstype ook een belangrijke rol spelen in de sollicitatieprocedure. Die aspecten worden uiteraard ook belicht tijdens de module sollicitatietraining. Je kan misschien een spraakwaterval zijn, maar de manier, waarop je je tijdens een sollicitatiegesprek gedraagt, speelt ook een doorslaggevende rol.De rekruteerders zijn ook in die materie getraind. Vanaf het prille begin, moet je op je hoede zijn. Je wordt onmiddellijk gescreend. Tijdens de les wordt daar de nodige aandacht aan besteed.</p>
<p>Ontdek ook welk persoonlijkheidstype je bent aan de hand van een persoonlijkheidstest en ludieke opdrachten! Een spreekwoord zegt dat zelfkennis het begin van alle wijsheid is en je kan toch stellen dat dat bij solliciteren zeker het geval is. Solliciteren is immers jezelf verkopen en dat gaat enkel, wanneer je jezelf door en door kent.</p>
<p>Lichaamstaal komt ook ruimschoots aan bod. Leer lichaamstaal analyseren en achterhaal de 'do's' en 'don'ts' op het gebied van lichaamstaal!</p>
<p>Bovendien word je ook begeleid tijdens jouw zoektocht naar een stageplaats. De zoektocht is volledig jouw verantwoordelijkheid, maar je kan tijdens de sessies sollicitatietraining jouw vragen steeds afvuren.</p>
<h4>Na de cursus kan je</h4>
<p>Vol kennis en zelfvertrouwen naar jouw volgende sollicitatiegesprek gaan.</p>
<h4>Concreet</h4>
<p>In concreto komen volgende onderwerpen aan bod.</p>
<ul>
	<li>Een succesvol cv opstellen.</li>
	<li>Een originele motivatiebrief volgens de NBN-normen schrijven.</li>
	<li>Jezelf leren kennen aan de hand van het kwaliteitenspel.</li>
	<li>Jouw persoonlijkheidstype achterhalen aan de hand van een test en ludieke opdrachten.</li>
	<li>Een levensecht sollicitatiegesprek voeren.</li>
	<li>Een stageplaats onder begeleiding zoeken.</li>
</ul>
<h4>Aantal lesuren</h4>
<p>40</p>