<img src="img/webanimatie.png" alt="webanimatie" class="logo">
<h4>Algemene informatie</h4>
<p>Dit vak bestaat uit 2 componenten: CSS3 webanimatie en Inleiding JavaScript. Met de komst van CSS3 kunnen we nu animaties voor een webpagina creëren waarbij de motor voor de animaties in de browser ingebakken zit. Geen zware Flash plugin of geanimeerde gifs meer nodig dus. Wil je beweging op je webpagina, dan is dit de nieuwe manier om die toe te voegen. JavaScript is al +20 jaar de gevestigde scriptingtaal voor webpagina’s. Hiermee kan je webpagina’s interactief maken en webapplicaties ontwikkelen. In deze inleiding bekijken we de basis van de clientside scripting.</p>
<h4>Na de cursus kan je</h4>
<p>Kleine tot uitgebreide animatie-elementen en eenvoudige scripts toevoegen aan een website.</p>
<h4>Concreet</h4>
<div class="kolommen">
	<p>CSS3</p>
	<ul>
		<li>opzoeken welke animatie-elementen in welke browsers ondersteund worden</li>
		<li>eenvoudige grafische elementen toevoegen : text-shadow, box-shadow, ribbon,...</li>
		<li>transitions tussen CSS waardes instellen</li>
		<li>timing functions gebruiken</li>
		<li>2D en 3D transforms instellen</li>
		<li>keyframe animatie toevoegen</li>
		<li>sprites gebruiken</li>
		<li>animatieprincipes toepassen</li>
	</ul>
</div>
<div class="kolommen">
	<p>JavaScript</p>
	<ul>
		<li>correcte code schrijven (syntax)</li>
		<li>fouten opsporen </li>
		<li>werken met strings</li>
		<li>werken met arrays</li>
		<li>functions denifiën</li>
		<li>werken met objecten</li>
		<li>case: clientside formuliervalidatie</li>
	</ul>
</div>
<div class="clearfix"></div>
<h4>Voorkennis</h4>
<p>Vlot met een computer kunnen werken, HTML en CSS kunnen aanmaken en instellen.</p>
<h4>Aantal lesuren</h4>
<p>60</p>