<img src="img/workflows.png" alt="workflows" class="logo">
<h4>Algemene informatie</h4>
<p>De tijden van muis en toetsenbord zijn voorbij. Als je sneller wilt leren werken probeer je de muis zo weinig mogelijk te gebruiken. In deze cursus leer je de computer te manipuleren om je workflow zo vlot mogelijk te maken. Er komen een hele boel moderne technieken aan bod die jouw skills klaarstomen voor de arbeidsmarkt.</p>
<h4>Concreet</h4>
<p>We leren commando's geven aan de computer via een command line. De computer kan daarna een hele boel vervelende taken, die je als webdeveloper dagelijks tegenkomt, van je overnemen. Voor een goede workflow is het ook nodig dat je een overzicht krijgt in je vooruitgang van het project, en dat je goed in teamverband kan werken. We leren allerlei technieken waarmee we dit gemakkelijk kunnen laten verlopen in een code-project.</p>
<p>Kortom, jij neemt de controle over de computer over!</p>
<h4>Na de cursus kan je</h4>
<ul>
	<li>werken met de command line</li>
	<li>task runners beheren met Gulp</li>
	<li>versie beheer met GIT</li>
	<li>Drupal overheersen met Drush</li>
	<li>virtuele servers installeren met Vagrant</li>
	<li>front-end applicaties ontwikkelen met Angular en Vue</li>
</ul>
<h4>Voorkennis</h4>
<p>Deze cursus komt op het einde van de opleiding. Een stevige kennis aan HTML &amp; CSS is dus een vereiste. Ook moet je je weg goed weten in een besturingssysteem van de computer.</p>
<h4>Aantal lesuren</h4>
<p>30(enkel ontwikkelaar)</p>